@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  font-weight: 400;
  font-style: normal;
  background-color: #9d75f7;
  @apply h-screen;
}

a {
  text-decoration: none;
}

.bg-color {
  @apply bg-white;

  @media (min-width: 640px) {
    @apply bg-white;
  }

  @media (min-width: 768px) {
    @apply bg-[#9D75F7];
  }
}
